@font-face {
    font-family: '나눔스퀘어R';
    /* src: url(../font/NanumSquareR.ttf); */
    src: url(../font/NanumSquareR.wotf);
}
@font-face {
    font-family: '나눔스퀘어B';
    font-weight: 400;
    src: url(../font/NanumSquareB.woff);
}
body{
    margin: 0;
    font-family: '나눔스퀘어R';
    /* font-family: '돋움', 'arial'; */
}
p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,span{
    transform: rotate(0.03deg);
}
div, input, textarea{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background: white;
    color: black;
    height: 50px;
    align-content: center;
}
.flex-item{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.main_background{
    width: 100%;
    height: 500px;
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    position: relative;
}
.main_title{
    color: burlywood;
    font-size: 40px;
    margin-top: 130px;
    text-align: center;
}
.main_description{
    color: ivory;
    font-size: 20px;
    text-align: center;
    padding: 0 30px 30px;
}
/* 거지같이 짠 css 시작 */
.custom{
    color: green;
}
/* 거지같이 짠 css 끝 */
.main_button{
    /* width: 100px;
    height: 35px;
    color: green;
    background: ivory;
    border: none;
    border-radius: 5px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; */
    padding: 15px;
    font-size: 15px;
    background: ivory;
    color: green;
    border: none;
    border-radius: 5px;
    position: absolute;
    /* position : absolute 준 요소 가운데 정렬 하려면 */
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}
input[type=file]::-webkit-file-upload-button{
    background: orange;
    border: brown;
}
input[type=file].input_file::file-selector-button{
    background: skyblue;
    border: none;
    padding: 20px;
}
input[type=file].input_file::file-selector-button:hover{
    background: blue;
    color: #fff;
}
input::-webkit-input-placeholder{
    color: red;
}
input[type=range]{
    appearance: none;
}
input[type=range]::-webkit-slider-thumb{
    appearance: none;
    background: orange;
    width: 30px;
    height: 30px;
}
progress{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: white;
    color: red;
}
progress::-webkit-progress-bar{
    background: #eee;
    border-radius: 10px;
}
progress::-webkit-progress-value{
    background-color: red;
    border-radius: 10px;
}
/*파이어폭스 호환성을 위해*/
progress::-moz-progress-bar {
    background-color: red;
    border-radius: 10px;
  }
.menus{
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;

}
.menus div{
    float: left;
    width: 25%;
    text-align: center;
}
.menus i{
    background: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: #fff;
    margin-top: 40px;
    text-align: center;
}
.clear{
    clear: both;
}
.shop_bg{
    background: #eee;
    padding: 20px;
}
.shop_container{
    display: flex;
    margin: auto;
    width: 90%;
}
.shop_item{
    width: 33%;
    padding: 10px;
}
.shop_item img{
    width: 100%;
    display: block;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 1s;
}
.overlay_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay_wrap:hover .overlay_black{
    margin-top: 50%;
}
.overlay_black{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    margin-top: 100%;
    transition: all 0.5s;
    color: #fff;
    padding: 10px;
}
/* .overlay:hover{
    opacity: 1;
} */







.sub_background{
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
    background: #eee;
    color: black;
    position: relative;
    top: -40px;
    box-sizing: border-box;
}
.sub_title{
    font-weight: 700;
}
/* .text-input{
    padding: 20px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 5px;
}
input[type=email]{
    padding: 20px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
} */
.form_background{
    background: black;
    padding: 30px;
}
.form_white{
    background: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}
.form_input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
}
.w-100{
    width: 100%;
    padding: 10px;
}
.w-50{
    width: 50%;
    float: left;
    padding: 10px;
}
.yellow_button{
    padding: 10px;
    display: block;
    margin-left: auto;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
}

/* 현재 브라우저 폭이 1200px 이하일 경우 */
@media screen and (max-width : 1200px){
    .main_title{
        font-size: 30px;
    }
    .flex-item{
        font-size: 12px;
    }
    .menus{
        max-width: 550px;
        height: 100%;
        margin-bottom: 50px;
    }
    .menus div{
        width: 50%;
        text-align: center;
        align-items: center;
    }
    .menus::after{
        content: '';
        display: block;
        clear: both;
        float: none;
    }
    .sub_background {
        top: 0 ;
    }
}
/* 현재 브라우저 폭이 768px 이하일 경우 */
@media screen and (max-width : 768px){
    .main_title{
        font-size: 15px;
    }
    .flex-item{
        font-size: 14px;
    }
    .menus div{
        width: 100%;
        float: none;
    }
}

